<!-- app/templates/auth/request_reset.html -->

{% extends "base.html" %}
{% block app_content %}

<div class="login-form">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
                <h1>{{ title }}</h1>
            </legend>
            <div class="form-group">
                {{ form.email.label(class="form-control-label")}}
                {{ form.email(class="form-control form-control-lg",placeholder="Enter your email address") }}
            </div>
        </fieldset>
        <div class="form-group text-center">
            {{ form.submit(class="btn btn-info") }}
        </div>
    </form>
</div>

{% endblock %}