<!-- app/templates/auth/reset_password.html -->

{% extends "base.html" %}
{% block app_content %}
<div class="login-form">
    <form action="" method="POST">
        {{ form.csrf_token }}
        <fieldset class="form-group">
            <legend>{{ title }}</legend>
            <div class="form-group">
                {{ form.password.label(class="form-control-label")}}
                {{ form.password(class="form-control form-control-lg") }}
            </div>
            <div class="form-group">
                {{ form.confirm_password.label(class="form-control-label")}}
                {{ form.confirm_password(class="form-control form-control-lg") }}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>

{% endblock %}