{% extends 'bootstrap/base.html' %}
{% block title %} {% if title %} {{ title }} - VTrack {% endif %} {% endblock %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/vtrack.css') }}">
{% endblock %}
{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('home.homepage') }}">VTrack</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% if current_user.is_authenticated %}
                {% if current_user.is_admin %}
                <li><a href="{{ url_for('home.admin_dashboard') }}">Dashboard</a></li>
                <li><a href="{{ url_for('auth.register') }}">Register User</a></li>
                {% else %}
                <li>
                    <a href="{{ url_for('home.dashboard') }}">Dashboard</a>
                </li>
                {% endif %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Vehicle<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">List All Vehicles</a></li>
                        <li><a href="#">Vehicle Equipment</a></li>
                    </ul>
                </li>
                {% else %}

                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li><a><i class="fa fa-user"></i> Hi, {{ current_user.username.upper() }}!</a></li>
                <li><a href="{{ url_for('auth.account') }}">My Profile</a></li>
                <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
    {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
    <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endfor %} {% endif %} {% endwith %}
    {# application content needs to be provided in the app_content block #}
    {% block app_content%}{% endblock %}
</div>
{% endblock %}